{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="text-center mt-3 mb-3">About Us</h1>
<hr>

<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-4">
            <img class="w-100" src="{{ MEDIA_URL }}pendant.jpg" alt="pearl pendant">
        </div>
        <div class="col-12 col-md-8">
            <h3>Quality you can trust</h3>
            <p>
                We have partnered with a pearl design company, <a href="https://www.tenseipearl.com/en/" target="_blank"
                    rel="noopener">Tensei
                    Pearl</a> who are located in the area where cultured pearl production is largest in Japan.
                Our partnership company has a close relationship with the pearl producers and source the best quality
                produce directory from them. Taisei Pearl and their pearl producers both have great reputation in
                decades in Japan.
                Our products are carefully selected pearl Jewellery for European market by qualified pearl specialists.
            </p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <h3>Easy and secure shopping experience</h3>
        <div class="col-12 col-md-8">
            <p>Our office and warehouse are located in Limerick, Ireland and we operate as a online business.
                All our products come with certificates issued by official pearl inspectors in Japan.
                Payment and delivery is easy, safe and secure.
            </p>
            <h4>Register on our site</h4>
            <p>Registering is simple and easy. Click Account then Register. <br>
            Email will be required to register on our site</p>
            <h5>Registering has following benefit</h5>
            <ul>
                <li><i class="fas fa-ring text-pale"></i> You can save the delivery information so that you don't need to enter every time you shop with us
                </li>
                <li><i class="fas fa-ring text-pale"></i> You can access to profile page and edit your delivery details any time</li>
                <li><i class="fas fa-ring text-pale"></i> You can acess your order history and review past orders from your profile page</li>
                <li><i class="fas fa-ring text-pale"></i> You will be given a link to create your review of the product you have purchased</li>
            </ul>
        </div>

        <div class="col-12 col-md-4">
            <img class="w-100" src="{{ MEDIA_URL }}pearl-necklaces.jpg" alt="pearl pendant">
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div>
            
        </div>

    </div>

</div>

{% endblock %}