{% extends "base.html" %} 
{% load static %} 
{% block content %}

<h1 class="mt-3">Delivery information</h1>
<hr>

<div class="container">
  <div class="row">
      <ul>
        <li>
          As our products are very valuable, we use DHL for delivery with
          tracking. To cover the cost of secure delivery we charge
          <i class="fa fa-eur"></i>10 for each order.
        </li>
      </ul>
      <ul>
        Delivery time:
        <li>
          We aim to dispatch the order within three business days upon order and
          payment comfirmation.
        </li>
        <li>
          We will notify you when your order is dispatched with the tracking
          informaion.
        </li>
      </ul>
    </div>
</div>

{% endblock %}

