body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }

main {
  flex: 1;
}

.text-black {

}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.carousel-item {
  max-height: 90vh;
  object-fit: contain ;
}


.category-wrapper {
  overflow-x: hidden;
}

.category-item {
  height: 150px;
  margin: 0;
  padding:0;
}

.category-necklaces {
  background: url('/media/necklace-image.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
}

.category-earrings {
  background: url('/media/category-earrings-img.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
}

.category-rings {
  background: url('/media/category-ring-image.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
}

.category-sets {
  background: url('/media/pearl-set1-image1.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
}

.cagtegory-inner {
  border: solid 3px ;
  height: 90%;
  background-color: transparent !important;
}

.view-all-btn {
  margin: 0 auto;
}


.mt-product-table .img-holder {
  width: 50px;
  overflow: hidden;
  padding: 25px 0 22px;
}

.img-holder img {
  width: 100%;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}


/* For product detail images taken from  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.image-container {
  margin: 50px auto 0;
  max-width: 300px;
}
.main-img {
  max-height: 100%;
  width: 100%;
}
.main-img img {
  height: auto;
  width: 100%;
}
.sub-img {
  display: flex;
}
.sub-img li {
  margin-right: 2%;
  width: calc(96% / 3);
}
.sub-img li:nth-child(3n) {
  margin-right: 0;
}
.sub-img {
  height: 107px;
}
.sub-img img {
  height: 107px;
  width: 100%;
}
@media (max-width: 500px) {
  .main-img {
    height: 68.8vw;
  }
  .sub-img img {
    height: 21.4vw;
  }
}


