
:root {
  --title-font: 'Love Light', sans-serif;
  --text-font-family: 'Lato', sans-serif;
  --deep-dark: #002535;
  --font-white: #f0f8ff;
  --light-blue: #3b89ac;
  --mid-blue: #22646e;
  --main-blue: #003851;
  --pale-blue:#bfd2d9;
  --red-color:#e5323b;
}


body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }

main {
  flex: 1;
}

.text-black {
  color: black;
}

.new-button {
  color: #22646e;
  font-weight: bolder;
}

.logo-text {
  font-family: var(--title-font);
  font-size : 2.5rem;
}

.main-dark-bg {
  background-color: var(--main-blue);
}

.light-blue-bg {
  background-color: var(--light-blue);
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.text-pale {
  color: var(--pale-blue);
}

.deep-dark-bg {
  background-color: var(--deep-dark);
}

.menu-icon {
  text-align : center;
}

.img-h150 {
max-height: 150px;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

img {
position: 50% 50%;
object-fit: contain;
}

.carousel-item {
  max-height: 90vh;
  object-fit: contain ;
}


.category-wrapper {
  overflow-x: hidden;
}

.category-item {
  height: 150px;
  margin: 0;
  padding:0;
}

.category-necklaces {
  background: url('/media/necklace-image.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
}

.category-earrings {
  background: url('/media/category-earrings-img.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
}

.category-rings {
  background: url('/media/category-ring-image.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size:cover; 
  color: var(--pale-blue);
}

.category-sets {
  background: url('/media/pearl-set1-image1.jpg') no-repeat center center;
  background-position:50% 50%;
  background-size: cover; 
}

.cagtegory-inner {
  border: solid 3px ;
  height: 90%;
  background-color: transparent !important;
}

.view-all-btn {
  margin: 0 auto;
}


.mt-product-table .img-holder {
  width: 50px;
  overflow: hidden;
  padding: 25px 0 22px;
}

.img-holder img {
  width: 100%;
}

.mail-chimp-img {
  max-width: 8rem;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #49BEAA !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.update-link, .remove-item {
  cursor: pointer;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}


/* For product detail images from junpei-sugiyama.com */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.image-container {
  margin: 50px auto 0;
  max-width: 300px;
}
.main-img {
  max-height: 100%;
  width: 100%;
}
.main-img img {
  height: auto;
  width: 100%;
}
.sub-img {
  display: flex;
}
.sub-img li {
  margin-right: 2%;
  width: calc(96% / 3);
}
.sub-img li:nth-child(3n) {
  margin-right: 0;
}
.sub-img {
  height: 107px;
}
.sub-img img {
  height: 107px;
  width: 100%;
}

@media (max-width: 500px) {
  .main-img {
    max-height: 68.8vh;
  }
  .sub-img img {
    height: 21.4vw;
  }
}

.review-star {
  color: #FDCA40;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


/* menu icon alignment */
@media (max-width: 991px) {
  .menu-icon {
    text-align : left;
  }

  .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}