{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="py-5 bg-light">
  <h1 class="text-center mt-2 mb-3">View the products</h1>

  <div class="container">
    <div class="row">
      {% for object in object_list %}
      <div class="col-12 col-md-4">
        <div class="card w-100 mb-3">
          {% if object.productimages_set.all %}
          <img src="{{ object.productimages_set.first.image.url }}" class="card-img-top" alt="Product image" style="height:225px;">
          {% else %}
          <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="Product has no image" style="height:225px;">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p>Category: 
              <a href="{% url 'products:category_list' object.category.pk %}">
              {{object.category |upper}}</a>
            </p>
            <p class="card-text">
              Tags:
              {% if object.tags %}
              {% for tag in object.tags.all %}
              <a href="{% url 'products:tag_list' tag.slug %}" class="btn btn-sm btn-{{ tag.name }}">{{ tag.name | title }}</a>
              {% endfor %}
              {% endif %}
            </p>
            <p class="card-text text-center">
              <i class="fa fa-eur"></i> {{object.price}}
            </p>
            <div class="text-center">
            <a href="/products/{{object.pk}}/" class="btn btn-primary mid-blue-bg">View the product detail</a>
          </div>
            {% if request.user.is_superuser %}
            <small class="ml-3">
              <a href="{% url 'products:edit_product' object.id %}">Edit</a> |
              <a class="text-danger" href="{% url 'products:delete_product' object.id %}">Delete</a>
            </small>
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
      <div>
        <h4 class="text-center mt-5">No result found for your seach</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}