{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center mt-5">{{object.name}}</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mb-5">
      <div class="image-container">
        <div class="main-img js-main-img mb-2">
          <img src="{{ object.productimages_set.first.image.url }}" />
        </div>
        <ul class="sub-img js-sub-img">
          {% for image in object.productimages_set.all %}
          <li>
            <img src="{{ image.image.url }}" />
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <p>Category: <a href="{% url 'products:category_list' object.category.id %}"
            class="btn btn-outline-secondary">{{ object.category.name | title }}</a></p>
        <div>
          {% if object.tags.all %}
          <p>Tag :
            {% for tag in object.tags.all %}
            <span>
              <a href="{% url 'products:tag_list' tag.slug %}" class="btn btn-info">{{ tag.name | title }}</a>
          </span>
          {% endfor %} </p>
          {% endif %}
        </div>
        <p>Price : <i class="fa fa-eur"></i>{{object.price}}</p>
        <p>Available stock : {{object.stock}}</p>
      </div>
      <div>
        <form class="form" action="{% url 'bag:add_to_bag' object.id %}" method="POST">
          {% csrf_token %}
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">Quantity:</span>
            </div>
            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
              max="{{ object.stock }}" data-item_id="{{ object.id }}" id="id_qty_{{ object.id }}" />
          </div>

          <div class="col-12 mt-2">
            <a href="{% url 'products:products' %}" class="btn btn-secondary rounded-0 mt-5">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="text-uppercase">Keep Shopping</span>
            </a>
            <input type="submit" class="btn btn-secondary rounded-0 text-uppercase mt-5" value="Add to Bag" />
          </div>
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
        </form>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-10 offset-1">
      <p>Product Description</p>
      <p>{{ object.description | linebreaks }}</p>
    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
  $(function () {
    $(".js-sub-img img").on("click", function () {
      img = $(this).attr("src");
      $(".js-main-img img").fadeOut(500, function () {
        $(".js-main-img img")
          .attr("src", img)
          .on("load", function () {
            $(this).fadeIn(500);
          });
      });
    });
  });
</script>

{% endblock %}